name: ci-cd

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: self-hosted

    defaults:
      run:
        shell: pwsh

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Read compose file
        id: readfile
        run: |
          $content = Get-Content "docker-compose.yml" -Raw
          Add-Content $env:GITHUB_OUTPUT "content<<EOF"
          Add-Content $env:GITHUB_OUTPUT $content
          Add-Content $env:GITHUB_OUTPUT "EOF"

      - name: Deploy stack (Windows PowerShell)
        run: |
          Write-Host "Using path: $env:REMOTE_PATH"

          if (!(Test-Path $env:REMOTE_PATH)) {
              New-Item -ItemType Directory -Path $env:REMOTE_PATH | Out-Null
          }

          $composeFile = Join-Path $env:REMOTE_PATH "docker-compose.yml"

          # очищаем файл
          if (Test-Path $composeFile) {
              Clear-Content -Path $composeFile -ErrorAction SilentlyContinue
          }

          # получаем контент из шага readfile (без кавычек!)
          $content = ${{ steps.readfile.outputs.content }}

          # разбиваем на строки и записываем в файл
          $lines = $content -split "`r?`n"
          foreach ($line in $lines) {
              Add-Content -Path $composeFile -Value $line
          }

          Write-Host "Deploying stack..."
          docker stack deploy -c $composeFile backup
        env:
            REMOTE_PATH: ${{ secrets.REMOTE_PATH }}
