name: ci-cd

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Read compose file
        id: readfile
        shell: pwsh
        run: |
          $content = Get-Content "docker-compose.yml" -Raw
          Add-Content -Path $env:GITHUB_OUTPUT -Value "content<<EOF"
          Add-Content -Path $env:GITHUB_OUTPUT -Value $content
          Add-Content -Path $env:GITHUB_OUTPUT -Value "EOF"

      - name: Deploy stack (Windows PowerShell)
        shell: pwsh
        run: |
          $path = "${env:REMOTE_PATH}"

          if (!(Test-Path $path)) {
            New-Item -ItemType Directory -Path $path | Out-Null
          }

          Set-Location $path

          $compose = @"
${{ steps.readfile.outputs.content }}
"@

          $compose | Set-Content -Path "docker-compose.yml" -Encoding UTF8

          docker stack deploy -c docker-compose.yml backup
        env:
          REMOTE_PATH: ${{ secrets.REMOTE_PATH }}
